%p
    = f.label :product_vendor_url, t("product_vendor_url")
    = f.text_field :product_vendor_url, :class => 'fullwidth title'
%p
    = f.label :product_vendor_url_2, t("product_vendor_url_2")
    = f.text_field :product_vendor_url_2, :class => 'fullwidth title'
